body{
    background-color: #F1E5E3;
}

h3{
    font-family: Andale Mono, monospace;
}
.principal{
    background-color: white;
    margin: 0 300px 0 300px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 70%;
}

.lado_esquerdo{
    background-color: #FA857D;
}


.foto_perfil{
    display: block;
    margin: 50px auto;
    border-radius: 50%;
}

.titulo_contato{
    color: #DB312E;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;

}

.material-icons{
    text-align: center;
    color: black;
}


.bloco_informacao{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-bottom: 16px;
    width: 100%;
    align-items: center;
}

.descricao{
    font-size: 16px;
    color: black;
    font-weight: 600;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    margin-right: 60px;
    font-size: small;

}

.competencias{
    color: #DB312E;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;

}

.linguagem{
    color: #DB312E;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;

}

.lado_direito{
    background-color: white;
  }

.meu_nome{
    font-family: Andale Mono, monospace;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #DB312E;
}

hr{
    color: #DB312E;
    height: 2px;
    background-color: black;
    width: 70%;
}

h2{
    font-family: Andale Mono, monospace;
    text-align: center;
    text-transform: uppercase;
    color: #DB312E;
}

.skills{
    font-family: Andale Mono, monospace;
    color: black;
    margin-left: 5%; 
    margin-top: 8%;   

}

h4{
    font-family: Andale Mono, monospace;
    color: black;
    text-transform: uppercase;
}

.texto{
    font-family: Andale Mono, monospace;
    margin-top: 2%;
    margin-left: 5%;
}

.final{
    margin-left: 70%;
    font-size: small;
    text-transform: uppercase;
}